body{
    background-image: url("./backgtic.jpg");    
}
.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 70px;  
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0.96); 
    padding: 20px;
         
}
.box{
    border: 2px solid rgb(8, 26, 230);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(93, 122, 174);
}

.info {
    font-size: 22px;
    padding-right: 10px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Elephant', cursive;
    background-color: rgba(255, 255, 255, 0.96); 
    padding: 20px;
    
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: #01df3cc9;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Elephant', cursive;
    font-size: 20px;
     border: none;
     height: 40px;
}

.line{
    background-color: rgb(57, 4, 4);
    height: 10px;
    width: 0;
    position: absolute;
    background-color: #000000;
    
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}